{% extends 'dashboard.html' %}
{% load order-filters %}
{% block main %}
	<h4>Analysis for {% now "jS F" %}</h4>
	<div class="row mt-4 mb-4">
		<div class="col-md-3">
			<div class="analysis_card">
				<div class="analysis_card_head text-center">
					<h2 class="fas fa-shopping-bag"></h2>
					<p>Total Orders</p>
				</div>
				<div class="analysis_card_body text-center mt-5">
					<h4>{{orderAnalysis.orderAmount}}</h4>
				</div>
				<div class="analysis_card_foot text-center mt-4">
					<p>{{orderAnalysis.orderDone}} done</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="analysis_card">
				<div class="analysis_card_head text-center">
					<h2 class="fas fa-dollar-sign"></h2>
					<p>Total Income</p>
				</div>
				<div class="analysis_card_body text-center mt-5">
					<h4>{{orderAnalysis.orderSum}} uzs</h4>
				</div>
				<div class="analysis_card_foot text-center mt-4">
					<p>{{orderAnalysis.orderProfit}} uzs profit</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="analysis_card">
				<div class="analysis_card_head text-center">
					<h2 class="fas fa-cash-register"></h2>
					<p>Total for Cashbox</p>
				</div>
				<div class="analysis_card_body text-center mt-5">
					<h4>{{orderAnalysis.orderCashboxSum}} uzs</h4>
				</div>
				<div class="analysis_card_foot text-center mt-4">
					<p>{{orderAnalysis.orderCashboxAmount}} orders</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="analysis_card">
				<div class="analysis_card_head text-center">
					<h2 class="fas fa-robot"></h2>
					<p>Total for Bot</p>
				</div>
				<div class="analysis_card_body text-center mt-5">
					<h4>{{orderAnalysis.orderBotSum}} uzs</h4>
				</div>
				<div class="analysis_card_foot text-center mt-4">
					<p>{{orderAnalysis.orderBotAmount}} orders</p>
				</div>
			</div>
		</div>
	</div>
	<h4>Graphs</h4>
	<div class="row mt-4 mb-4">
		<div class="col-md-6">
			<div id="dailyOrdersChart"></div>
		</div>
		<div class="col-md-6">
			<div id="dailyPriceChart"></div>
		</div>
		<div class="col-md-6">
			<div id="dailyBotCashboxOrders"></div>
		</div>
		<div class="col-md-6">
			<div id="dailyBotCashboxPrice"></div>
		</div>
	</div>
	<h4>Cashbox</h4>
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="cashbox-card cashbox-card-total">
				<p style="float: right;">{% now "jS F" %}</p>
				<h5>{{ orders|summ }} uzs - Total</h5><br>
				<h6>Filter</h6>
				<select name="analysisfilter" id="analysisfilter" class="form-control w-25" onchange="filter_analyse()">
					<option value="All">All</option>
					<option value="Pending">Pending</option>
					<option value="Delivery">Delivery</option>
					<option value="Done">Done</option>
					<option value="Reject">Reject</option>
				</select>
				<select class="form-control w-25"></select>
			</div>
			{% if orders %}
			{% for order in orders %}
				<div class="cashbox-card cashbox-card-{{order.status}}">
					<p style="float: right;">{{order.date}}</p>
					<h5>{{order.price}} uzs - {{order.customer_name}}</h5>
					<font size="2">id: {{order.id}}&emsp;</font><span class="fas fa-{{order.source}}"></span>
				</div>
			{% endfor %}
			{% else %}
				<p>No orders for today</p>
			{% endif %}
		</div>
	</div>

	{% load static %}
	<script src="{% static 'filters.js' %}"></script>
	<script>
		drawGraph('{{graphData.days}}', '{{graphData.orders}}', '{{graphData.price}}', '{{graphData.botOrders}}', '{{graphData.botPrice}}', '{{graphData.cashboxOrders}}', '{{graphData.cashboxPrice}}')
	</script>
{% endblock %}