<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LB Control Panel</title>
	{% load static %}
	<link rel="icon" href="{% static 'icon.png' %}">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/eb1aa0a315.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


	{% load order-filters %}

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 p-0 m-0">
				<div class="sidebar">
					<h5 style="color: white;">LB Control</h5>
					<ul class="sidebar-menu">
						<li><a href="{% url 'dashboard' 'pending' %}" class="sidebar-menu-item active"><span class="fas fa-columns"></span> Orders</a></li>
						<li><a href="{% url 'dashboard' 'delivery' %}" class="sidebar-menu-item"><span class="fas fa-truck"></span> Delivery</a></li>
						<li><a href="{% url 'dashboard' 'done' %}" class="sidebar-menu-item"><span class="fas fa-clipboard-check"></span> Done</a></li>
						<li><a href="{% url 'dashboard' 'reject' %}" class="sidebar-menu-item"><span class="fas fa-times-circle"></span> Rejected</a></li>
						<li><a href="{% url 'dashboard' 'left' %}" class="sidebar-menu-item"><span class="fas fa-exclamation-circle"></span> Left</a></li>
						{% if user.is_superuser %}
						<li><a href="{% url 'analysis' %}" class="sidebar-menu-item"><span class="fas fa-chart-bar"></span> Analysis</a></li>
						<li><a href="" class="sidebar-menu-item"><span class="fas fa-info-circle"></span> Log</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="col-md-10 p-0">
				<div class="content">
					<div class="status-bar">
						<form class="search-form">
							<input type="text" placeholder="Search">
							<button type="submit"><span class="fas fa-search"></span></button>
						</form>
						<div class="user-info text-right">
							<a href=""><span class="fas fa-undo-alt"></span></a>
							<a href=""><span class="fas fa-user-circle"></span></a>
							<a href="{% url 'signout' %}"><span class="fas fa-sign-out-alt"></span></a>
						</div>
					</div>
					{% block main %}
						{% if 'watcher' in user.username %}
							<h4>Orders</h4>
						{% else %}
							<h4>Orders <a href="{% url 'add' %}"><span class="fas fa-plus"></span></a></h4>
						{% endif %}
						<div class="row mt-3">
							{% if orders %}
							{% for order in orders %}
								<div class="col-md-4 mt-3">
									<div class="order-card order-card-{{order.source}}">
										<h6>
											{{order.customer_name}}
											{% if 'robot' in order.source %}
											<span style="float: right;" class="fas fa-{{order.source}}"></span>
											<a><span style="float: right;" class="fas fa-map-marker-alt">&ensp;</span></a>
											{% else %}
											<span style="float: right;" class="fas fa-{{order.source}}"></span>
											{% endif %}
										</h6>
										<small>id: {{order.id}}</small><br>
										<small>{{order.customer_phone}} <h5 style="float: right;">{{order.price}} uzs</h5></small><br>
										<small>{{order.customer_username}}</small><br>
										<small>{{order.date}}</small><br>
										<small>{{order.executor}}</small><br><br>
										<p class="m-0">Order:</p>
										<ul>
											{% for item in order.order|parser %}
												<li><pre><font color="white">{{item}}</font></pre></li>
											{% endfor %}
										</ul>
										{% if 'done' in order.status %}
											<div class="order-card-footer text-center mt-4">
												Order Done
											</div>
										{% elif 'reject' in order.status %}
											<div class="order-card-footer text-center mt-4">
												Order Rejected
											</div>
										{% elif 'watcher' in user.username %}
											<div class="order-card-footer text-center mt-4">
												Order In Process
											</div>
										{% else %}
											<div class="order-card-footer text-center mt-4">
												<a href="{% url 'orderValidation' order.id 'reject' %}" class="order-card-reject-button order-card-button">Reject</a>
												<a href="{% url 'orderValidation' order.id 'done' %}" class="order-card-done-button order-card-button">Done</a>
											</div>
										{% endif %}

									</div>
								</div>
							{% endfor %}
							{% else %}
								<div class="col-md-12">No orders</div>
							{% endif %}
						</div>

						<script>
							timer = setTimeout(()=>{
								location.reload()
							}, 1000*60)
						</script>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>