@font-face{
	font-family: Segoe;
	src: url('/static/webfonts/SegoeTVRegular.TTF');
}

*{
	transition: .3s ease;
	font-family: Segoe;
}

.auth-panel{
	width: 40%;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	border-radius: 10px;
	box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}

.auth-panel button{
	background: #2B2E4A;
	color: white;
}

.auth-panel button:hover{
	color: white;
	opacity: .9;
}

.add-order-main-panel{
	width: 50%;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	border-radius: 10px;
	box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}

.add-order-main-panel span{
	background: #2B2E4A;
	color: white;
	padding: 1vh;
	margin: 2px;
	font-size: 2vh;
}

.add-order-main-panel button{
	background: #2B2E4A;
	color: white;
}

.add-order-main-panel button:hover{
	color: white;
	opacity: .9;
}