@font-face{
	font-family: Segoe;
	src: url('/static/webfonts/SegoeTVRegular.TTF');
}

*{
	transition: .3s ease;
	font-family: Segoe;
}

.container-fluid{
	background: #2B2E4A;
}

.sidebar{
	height: 100vh;
	width: 100%;
	padding: 3vh;
	margin: 0;
}

.sidebar-menu{
	margin-top: 10vh;
	padding: 0;
	width: 100%;
	list-style: none;
}


.sidebar-menu li{
	width: 100%;
}

.sidebar-menu-item{
	display: block;
	width: 100%;
	height: 100%;
	padding: 3vh;
	text-decoration: none;
	color: white;
	border-radius: 10px;
}

.sidebar-menu-item:hover{
	color: white;
	text-decoration: none;
	background: #112D4E;
}



.content{
	background: white;
	width: 100%;
	height: 100vh;
	border-top-left-radius: 5vh;
	border-bottom-left-radius: 5vh;
	padding: 5vh;
	overflow-y: scroll;
}

.status-bar{
	width: 100%;
	height: 7vh;
	margin-bottom: 5vh;
}

.search-form{
	width: 50%;
	height: 7vh;
	padding: .5vh;
	border: 0;
	float: left;
}

.search-form input{
	width: 90%;
	height: 6vh;
	border: 0;
	padding: 2vh;
	border-radius: 10px;
	background: #2B2E4A;
	color: white;
}

.search-form button{
	width: 8%;
	height: 6vh;
	border: 0;
	background: none;
	color: #2B2E4A;
}

.user-info{
	width: 50%;
	height: 7vh;
	float: right;
	font-size: 3vh;
	padding: 1vh;
}
.user-info a{
	color: #2B2E4A;
	margin-left: 2vh;
}

.order-card{
	width: 100%;
	height: auto;
	padding: 4vh;
	color: white;
	border-radius: 40px;
}

.order-card-button{
	padding: 1vh;
	display: inline-block;
	width: 45%;
	text-align: center;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}

.order-card-button:hover{
	text-decoration: none;
	color: white;
	opacity: .8;
}

.order-card-reject-button{
	background: #E84545;
	margin-right: .5vh;
}

.order-card-done-button{
	background: #17B978;
	margin-left: .5vh;
}


.order-card-cash-register{
	background: #112D4E;
}

.order-card-robot{
	background: #1E2022;
}


.cashbox-card{
	width: 100%;
	padding: 4vh;
	color: white;
	margin-bottom: 2vh;
	border-radius: 15px;
}

.cashbox-card select{
	display: inline-block;
}

.cashbox-card-done{
	background: #28a745;
}

.cashbox-card-reject{
	background: #B83B5E;
}

.cashbox-card-pending{
	background: #F08A5D;
}

.cashbox-card-delivery{
	background: #00ADB5;
}

.cashbox-card-total{
	background: #2B2E4A;
}

.analysis_card{
	width: 100%;
	height: 100%;
	background: #2B2E4A;
	color: white;
	border-radius: 20px;
	padding: 5vh 2vh 2vh 2vh;
}

#dailyChart{
	width: 100%;
	height: 40vh;
}